/* Body of Signup Pages */
body {
        height:100%;
        margin:0;
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
        background: linear-gradient(120deg, #34898f, #480647);
        color:#dbeafe;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;

    }

    /*Header of Pages*/
    header {
        background: linear-gradient(150deg,#141e41 40%, #103c76 60%);
        padding: 30px 20px;
        display: flex;
        max-width: 100%;
        max-height: 60px;
    }
    /* Header List */
    header ul {
        list-style: none;
    }
    /* Header List links */
    .nnav-liks {
        position: absolute; top: 10px; left: 20px;
        display: flex;
        gap: 10px
        
    }
    /* Costomise The Header Links */
    .nnav-liks li a {
        padding: 10px 20px;
        border: none;
        
        color: white;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s ease;
        
    }
    .nnav-liks li a:hover {
        background: #489cc3;
        transform: scale(1.05);
    }
    
    /* Styling of Signup Pages */
    .signup {
      text-align: center;
      padding: 100px 30px;
      max-height: 500px;
      max-width: 500px;
      position: absolute; top: 130px; left: 50%; transform: translate(-50%, -10%);
    }


    .signup{
        background: linear-gradient(160deg, #1a1a1a, #2e2e2e);         display: flex; 
        justify-content: center; 
        align-items: center;
        border: 2px solid #4cafef;
        position: relative;
        }
    .signup::hover{
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
        transform: translateY(-8px);
        transform: scale(1.05);
        opacity: 0.9;
    }

    .signup::before {
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        background: #4cafef;
        color: #fff;
        padding: 4px 10px;
        font-size: 12px;
        border-radius: 6px;
    }

        /* Heading of Pages */
    h3{
        color: rgb(17, 170, 175);
        margin-bottom: 20px;
        font-size: 28px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        position: absolute;
        
        top: 10px; left: 50%; transform: translate(-50%, 0%);
    }


    /*  Costomise the lable of the page */
    label {
        position: absolute; left: 30px;
        display: flex;
        text-align: left;
        margin-bottom: 8px;
        color: #fff;
        font-size: 20px;
        align-items: left;
        
    }
    /* Costomise Inpue of the pages */
    input{
        position: absolute;  right: 20px;
        width: 50%;
        padding: 8px;
        margin-bottom: 6px;
        border: 1px solid #ccc;
        border-radius: 60px;
        box-sizing: border-box;
        
    }
    input::hover{
        border: 1px solid #4cafef;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
        transform: translateY(-8px);
    }
    select{
        position: absolute;  right: 20px;
        width: 50%;
        padding: 8px;
        margin-bottom: 6px;
        border: 1px solid #ccc;
        border-radius: 60px;
        box-sizing: border-box;
    }
    /* Answer Of selected Qoestion */
    #answer{
        position: absolute;  right: 20px;
        width: 50%;
        padding: 8px;
        margin-bottom: 6px;
        border: 1px solid #ccc;
        border-radius: 60px;
        box-sizing: border-box;
    
    }

    /* Costomise the Buttons of the Pages */
    button {
        width: 100%;
        padding: 10px;
        background: linear-gradient(120deg, #328a99, #8d1c89);
        color: white;
        border: none;
        border-radius: 60px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s ease;

    }
    button:hover {
        background-color: #304a7e;
        color: whitesmoke;
        transform: scale(1.1);
        opacity: 0.9;
    }

        /* For Gogin Link */
    
    #log{
        color: white;
        font-size: 14px;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    #log:hover{
        text-decoration: underline;
        color: rgb(96, 119, 223);
    }
nav a {
  text-decoration: none; 
  color: white; 
}

nav a:hover {
  color: cyan;
}

/* Footer of Pages */
.footer p {
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 150px;
    }
