<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/menu.css">
     <header>
    <nav>
        <ul class="nnav-liks" id="btn">
          <li><a href="/home">Home</a></li>
          <li><a href="/feature">Features</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/about">About</a></li>
        </ul>
    </nav>
    </header>
</head>
<body>
    <div>
        <h1>Get Help</h1>
        <!-- <p>This is the help page content.</p> -->
        <search class="search-bar">
            <form action="/help" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
    <div class="footer">
        <p>&copy; 2024 AI Notes Summarizer. All rights reserved.</p>
    </div>
</body>
</html>