{% extends "base.html" %}
{% block content %}
<style>.dropzone {
  border: 2px dashed #3b82f6;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.03);
  transition: 0.3s;
}

.dropzone:hover {
  background: rgba(59,130,246,0.1);
}

/* LIGHT MODE */
body.light .dropzone {
  background: #f9fafb;
  border: 2px dashed #3b82f6;
  color: #111;
}
.btn {
  margin-top: 15px;
}
.loader {
  border: 3px solid rgba(255,255,255,0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 8px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* Light mode */
body.light .loader {
  border-top: 3px solid #111;
}

</style>


<div class="card">
  <h2>📄 PDF Summarizer</h2>

  <div class="dropzone">
  <p>📄 Drag & Drop PDF here</p>
  <input type="file" name="pdf">
</div>

  <br>

  <button class="btn" id="summarizeBtn">
  <span id="btnText">Summarize</span>
  <span id="loader" class="loader" style="display:none;"></span>
</button>
</div>
<script>
document.querySelector("form").addEventListener("submit", function() {
  const btn = document.getElementById("summarizeBtn");
  document.getElementById("btnText").innerText = "Processing...";
  document.getElementById("loader").style.display = "inline-block";
  btn.disabled = true;
});
</script>
{% endblock %}