{% extends "base.html" %}

{% block content %}

      <h3>Reset Your Password</h3>
      <form action="/reset_password" method="POST">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required>
        <br><br><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm new password" required>
        <br><br><br>

        <button type="submit">Reset Password</button>
      </form>
   

  <footer class="footer">
    <p>&copy; 2025 AI Notes Summarizer. All rights reserved.</p>
  </footer>

{% endblock %}